.git
.github
.conda
.pytest_cache
**/__pycache__
**/*.pyc

frontend/node_modules
frontend/dist

app/storage

.env
.env.*
password.txt
session_encryption_key.txt
amap_web_service_key.txt
bocha_api_key.txt
dashscope_api_key.txt
deepseek_api_key.txt
huaweicloud_maas_api_key.txt
langsmith_api_key.txt
qianfan_api_key.txt
